server:
  port: 9999

cors:
  allowed-origin: ${ALLOWED_ORIGIN}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.springframework.boot.autoconfigure.flyway: DEBUG